<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Accordion Demo</title>
</head>
<body>
    <ul class="accordion">
        <li class="accordion__item">
            <button class="accordion__toggle">Toggle</button>
            <div class="accordion__content">
                Content!
                <ul>
                    <li class="accordion__item">
                        <button class="accordion__toggle">Toggle</button>
                        <div class="accordion__content">Content!</div>
                    </li>
                    <li class="accordion__item">
                        <button class="accordion__toggle">Toggle</button>
                        <div class="accordion__content">Content!</div>
                    </li>
                    <li class="accordion__item">
                        <button class="accordion__toggle">Toggle</button>
                        <div class="accordion__content">Content!</div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="accordion__item">
            <button class="accordion__toggle">Toggle</button>
            <div class="accordion__content">Content!</div>
        </li>
        <li class="accordion__item">
            <button class="accordion__toggle">Toggle</button>
            <div class="accordion__content">Content!</div>
        </li>
    </ul>
    <script src="main.min.js"></script>
</body>
</html>