<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Carousel Demo</title>
</head>
<body>
<div class="fade-demo">
    <ul class="carousel carousel--fade">
        <li class="carousel__slide carousel__slide--1">1</li>
        <li class="carousel__slide carousel__slide--2">2</li>
        <li class="carousel__slide carousel__slide--3">3</li>
    </ul>
    <ul class="carousel__nav"></ul>
</div>
<div class="slide-demo">
    <ul class="carousel carousel--slide">
        <li class="carousel__slide carousel__slide--1">1</li>
        <li class="carousel__slide carousel__slide--2">2</li>
        <li class="carousel__slide carousel__slide--3">3</li>
        <li class="carousel__slide carousel__slide--4">4</li>
    </ul>
    <ul class="carousel__nav"></ul>
</div>
<script src="main.min.js"></script>
</body>
</html>